Source: rocm-smi-lib
Section: devel
Priority: optional
Maintainer: CHEN Xuan <chenxuan@iscas.ac.cn>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 cmake,
 libgtest-dev,
 rocm-core,
 rocm-env,
Standards-Version: 4.7.0
Homepage: https://github.com/ROCm/rocm_smi_lib
Vcs-Browser: https://github.com/revyos-rocm/rocm-smi-lib
Vcs-Git: https://github.com/revyos-rocm/rocm-smi-lib

Package: rocm-smi-lib
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-env,
Description: Use C++ in ROCm SMI. Binary package
 Use C++ in ROCm SMI. Binary package

Package: rocm-smi-lib-dev
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 rocm-core,
 rocm-env,
Description: Use C++ in ROCm SMI. Development package
 Use C++ in ROCm SMI. Development package.
